<head>
  <!-- External CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <!-- Internal CSS -->
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
</head>

<nav>
  <div>
    <button id="shop-all-btn" type="submit">Shop All Jewellery</button>
    <span>Welcome, Alice</span>
    <span>Logo</span>
    <i class="fa-solid fa-message msg-icon"></i>
    <i class="fa-solid fa-heart heart-icon"></i>
    <i class="fa-solid fa-store store-icon"></i>
    <button id="logout-btn" type="submit">Logout</button>
    <button id="message-btn" type="submit">Messages</button>
    <button id="my-favs-btn" type="submit">My Favs</button>
    <button id="my-shop-btn" type="submit">My Shop</button>
  </div>
</nav>
