<head>
  <!-- External CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <!-- Custom Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Poppins:wght@200&display=swap"
    rel="stylesheet"
  />

  <!-- Internal CSS -->
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
</head>

<% if(!username) { %>
<nav>
  <span id="logo">Logo</span>
</nav>
<% } else { %>

<nav>
  <div class="left-nav">
    <form action="/shop/all-items" method="GET">
      <button id="shop-all-btn" type="submit">Shop All Jewellery</button>
    </form>
  </div>

  <span> Welcome, <%= username %> </span>

  <span id="logo">Logo</span>

  <div class="right-container">
    <div class="entire-right">
      <div class="icon-btn-container">
        <div class="icon-container">
          <i class="fa-solid fa-message msg-icon"></i>
        </div>
        <button id="message-btn" type="submit">Messages</button>
      </div>
      <div class="icon-btn-container">
        <div class="icon-container">
          <i class="fa-solid fa-heart heart-icon"></i>
        </div>
        <button id="my-favs-btn" type="submit">My Favs</button>
      </div>
      <div class="icon-btn-container">
        <div class="icon-container">
          <i class="fa-solid fa-store store-icon"></i>
        </div>
        <button id="my-shop-btn" type="submit">My Shop</button>
      </div>
    </div>

    <div>
      <form method="POST" action="/users/logout">
        <button id="logout-btn" type="submit">Logout</button>
      </form>
    </div>
  </div>
</nav>

<% } %>
