.favs-body-shop {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.fav-header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.items-fav-page {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.inside-favshop-page {
  margin: 3em;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.fav-container-shop {
  height: 14em;
  width: 14em;
  border: 0.1em solid black;
  margin-right: 1em;
  margin-bottom: 2em;
}

.fav-info {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.fav-heart-icon {
  color: #ba1f3b;
}

.sold-img {
  background-color: rgb(203, 199, 199);
  opacity: 80%;
  z-index: 100;

  float: right;
  overflow: visible;
  position: absolute;
  height: 14em;
  width: 14em;
}

footer {
  margin-top: auto;
}
