.login-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.form-control, #login-btn {
  font-family: 'Poppins', sans-serif;
}

#login-btn {
  transition-duration: 0.4s;
}

#login-btn:hover {
  background-color: rgb(191, 188, 188);
  color: white;
}

footer {
  margin-top: auto;
}
