* {
  font-family: 'Cinzel', serif;
}

nav {
  background-color: burlywood;
  width: 100%;
  height: 6em;
  display: flex;
  padding-right: 1em;
  padding-left: 1em;
  align-items: center;
  justify-content: space-between;
}

.left-nav {
  display: flex;
  justify-content: flex-start;
}

.right-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.under-icons {
  display: flex;
  flex-direction: center;
  justify-content: flex-end;

}

.entire-right {
  display: flex;
  flex-direction: column;
}

#logo {
  font-weight: 600;
}

#shop-all-btn, #message-btn, #my-favs-btn, #my-shop-btn, #logout-btn {
  font-size: 12px;
}

// Right-align the logout button:
// Remove justify-content space bewteen for entire nav div + ...
//
// #logout-btn {
//   position: absolute;
//     right: 0px;
//     margin-right: 15px;
// }
