.main-body-shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shop-header {
  display: flex;
  justify-content: center;
}

.fil-by-price-cont {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 15px;
  margin-top: 10px;
}

.max-min-input {
  margin-top: 5px;
}

.items-shop-page {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.inside-itemsshop-page {
  margin: 3em;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.item-container-shop {
  height: 14em;
  width: 14em;
  border: 0.1em solid black;
  margin-right: 1em;
  margin-bottom: 2em;
}

.item-info {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

#product-id {
  display: none;
}


