.main-body-shop {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.shop-header {
  display: flex;
  justify-content: center;
}

.fil-by-price-cont {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 15px;
  margin-top: 10px;
}

.max-min-input {
  margin-top: 5px;
}

.items-shop-page {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.inside-itemsshop-page {
  margin: 3em;
  margin-top: 2px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.sold-container {
  position: relative;
}

.sold-item-container-shop,
.sold-img {
  height: 14em;
  width: 14em;
  border: 0.1em solid black;
  margin-right: 1em;
  margin-bottom: 2em;
}

.sold-item-container-shop {
  z-index: 10;
}

.item-info {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  width: 12em;
}

.sold-img {
  background-color: rgb(203, 199, 199);
  opacity: 80%;
  z-index: 100;

  float: right;
  overflow: visible;
  position: absolute;
  height: 14em;
  width: 14em;
}

.item-container-shop {
  height: 14em;
  width: 14em;
  border: 0.1em solid black;
  margin-right: 1em;
  margin-bottom: 2em;
}

#product-id {
  display: none;
}

footer {
  margin-top: auto;
}

